@import '../../styles/base/_colors'
@import '../../styles/base/_mixins'

.favoriteCard
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  position: relative
  @include desktop
      width: 12rem
      height: 12rem
  > button
    position: absolute
    top: 0
    right: 0
    border: none
    background: none
    @include desktop
      cursor: pointer
  &Image
    position: relative
    width: 8.5rem
    height: 9rem
    object-fit: cover
    @include desktop
      width: 12rem
      height: 16rem
  &Price
    top: 120px
    position: absolute
    width: 100%
    font-size: 0.8rem
    font-weight: bold
    right: 2rem
    color: $primary
    @include desktop
      top: 168px
      left: 0
      right: 120px