@import '../../styles/base/_colors'
.card
    display: flex
    width: 100%
    flex-direction: column

    &Header
        display: flex
        justify-content: flex-start
        padding: 1rem
        width: 100%
        &Image
            border-radius: 5px
            overflow: hidden
        &Name
            color: $secondary
            font-weight: bold