@import '../../../styles/base/_mixins'
@import '../../../styles/base/_colors'

.footer
    position: fixed
    left: 0
    bottom: 0
    width: 100%
    z-index: 5
    background: $tertiary
    height: 50px
    @include desktop
        display: none
    nav
        display: flex
        justify-content: space-around
        > ul
            margin-top: 15px
            list-style-type: none
            > li
                color: $primary